@use 'theme-palette/base-palate' as primaryThemePalette;
@use '~@angular/material' as mat;

@include mat.core();

$base-Primary: mat.define-palette(primaryThemePalette.$md-basePalette-primary);
$base-Accent:  mat.define-palette(primaryThemePalette.$md-basePalette-accent);
$base-Warn: mat.define-palette(primaryThemePalette.$md-basePalette-warn);

$base-theme: mat.define-light-theme($base-Primary, $base-Accent, $base-Warn);
@include mat.all-component-themes($base-theme);
