<section class="vh-100 fizz-buzz" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="w-100 h-100">
    <div fxLayout="row" fxLayoutAlign="center center" class="header w-100">
      <h1>FIZZ BUZZ</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="console w-100 h-75">
      <mat-card class="w-100 h-75 ml-5 mr-5">
        <div class="result">
          <section *ngIf="(resultLine1$ | async) !== '' || (resultLine2$ | async) !== '' || (resultLine3$ | async) !== '' || (resultLine4$ | async) !== ''">
            <h3 *ngIf="(resultLine1$ | async) !== ''">{{resultLine1$ | async}}</h3>
            <h3 *ngIf="(resultLine2$ | async) !== ''">{{resultLine2$ | async}}</h3>
            <h4 *ngIf="(resultLine3$ | async) !== ''">{{resultLine3$ | async}}</h4>
            <h4 *ngIf="(resultLine4$ | async) !== ''">{{resultLine4$ | async}}</h4>
            <p>- - - - - - - - - - - - - - - - - - - - - - - -</p>
          </section>
        </div>
        <div class="command">
          <form fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="7px" [formGroup]="commandForm" (ngSubmit)="onSubmit()">
            <div class="w-90" fxLayout="row" fxLayoutAlign="start center">
              <input
                type="text"
                id="command"
                placeholder="Type commands here..."
                formControlName="command">
            </div>
            <div class="w-10" fxLayout="row" fxLayoutAlign="end center">
              <button type="submit" mat-stroked-button color="primary">SEND</button>
            </div>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</section>
