@import "variables";

.fizz-buzz{
  .header h1 {
    font-weight: bold;
    color: #0089b2;
    font-size: 3rem;
  }
  .console {
    .result {
      position: absolute;
      bottom: 64px;
      height: auto;
      section {
        h3, h4, p {
          margin: 0;
        }
        h4 {
          color: $primary-color;
        }
        p {
          font-weight: bold;
        }
      }
    }
    .command {
      background-color: $command-background-color;
      margin-left: -16px;
      margin-right: -16px;
      position: absolute;
      bottom: 0;
      width: 100%;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      height: 64px;
      form input {
        height: 58px;
        background-color: $command-background-color;
        border: none;
        font-size: 1.5rem;
        padding-left: 16px;
      }
      form input:focus {
        outline: none;
      }
      button {
        width: 100%;
        height: 64px;
        border: none;
        font-size: 1.5rem;
      }
    }
  }
}
