$md-basePalette-primary: (
  50 : #e0f1f6,
  100 : #b3dce8,
  200 : #80c4d9,
  300 : #4dacc9,
  400 : #269bbe,
  500 : #0089b2,
  600 : #0081ab,
  700 : #0076a2,
  800 : #006c99,
  900 : #00598a,
  A100 : #b6e1ff,
  A200 : #83ccff,
  A400 : #50b7ff,
  A700 : #36acff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-basePalette-accent: (
  50 : #fff0e0,
  100 : #ffd9b3,
  200 : #ffc080,
  300 : #ffa64d,
  400 : #ff9326,
  500 : #ff8000,
  600 : #ff7800,
  700 : #ff6d00,
  800 : #ff6300,
  900 : #ff5000,
  A100 : #ffffff,
  A200 : #fff5f2,
  A400 : #ffcfbf,
  A700 : #ffbca6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-basePalette-warn: (
  50 : #fde4e5,
  100 : #f9bbbd,
  200 : #f68e92,
  300 : #f26066,
  400 : #ef3e45,
  500 : #ec1c24,
  600 : #ea1920,
  700 : #e7141b,
  800 : #e41116,
  900 : #df090d,
  A100 : #ffffff,
  A200 : #ffd5d6,
  A400 : #ffa2a3,
  A700 : #ff898a,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
