@use 'theme/theme-palette/base-palate' as baseThemePalette;
@use '~@angular/material' as mat;

@import '~@angular/material/theming';

$body-color: #2b2b2b;
$primary-color: mat.get-color-from-palette(baseThemePalette.$md-basePalette-primary, 500);
$command-background-color: #F2F2F2;
